.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size: 18px;
  background-color: #1c8adb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0f4a7d;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin-bottom: 20px;
}

.card button {
  font-size: 18px;
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.card button:hover {
  background-color: #c82333;
}

.card input[type="text"] {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card button.update {
  background-color: #28a745;
  color: #fff;
}
.card button.update:hover {
  background-color: #218838;
}
